/*------------------------------------------------- Estilos generales ------------------------------------------------- */

body{
	color: black;
	font-family: 'Roboto', sans-serif;
}

/*-------------------------------------------- Encabezado de la aplicación -------------------------------------------- */
header{
	padding: 0px;
	color: black;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	font-weight: bold;
	text-align: center; 
	overflow: auto;
}

.header-title{
	font-size: 5em;
    margin-bottom: 12px;
    margin-top: 12px;
	height:auto;
}

/* Evitar en desplizamiento sobre el header*/
.row {
   margin-right: 0;/*-15px;*/
   margin-left: 0;/*-15px;*/   
   margin-top: 1;/*-15px;*/
   margin-bottom: 1;/*-15px;*/
}

/*Barra de navegacion*/
/* Provoca que la barra sea continua*/
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

/* Fondo de la barra principal y tamaño de la letra*/
.navbar{
	background-color: #F37021;
	border-radius: 0;
	font-size: 15px;
	font-weight: bold;
}

.navbar-inverse
{
    margin-bottom: 0px;
}

/* Color de la letra de los enlace principales*/
.navbar-inverse .navbar-nav > li > a
{
	color:white;
}

/* Fondo y letra de los enlaces principales cuando el mouse se encuentra encima */
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
	color: white;
	background-color: #F09050;
}

/* Fondo y letra de los enlace que tienen menu desplegable cuando se da click encima */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{
	color: white;
	background-color: #F09050;
}

/* Fondo del menu desplegable*/
.dropdown-menu{
	background-color:#F37021;

}

/* Fondo y letra de los enlaces dentro del menu desplegable cuando el mouse no se encuentra encima*/
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
	color: white;
	background-color: #F37021;
}

/* Fondo y letra de los enlaces dentro del menu desplegable cuando el mouse se encuentra encima */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open .dropdown-menu>li>a :focus, .navbar-inverse .navbar-nav > .open .dropdown-menu>li>a:hover{
	color: white;
	background-color: #F09050;
}

/* Fondo y letra para poner los activos*/
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
{
	color: white;
	background-color: #F09050;
}

/* Fondo cuando se mantiene pulsado el icono de navegacion en modo responsive*/
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover
{
	background-color: #F09050;
}

/* Borde del icono de navegacion*/
.navbar-inverse .navbar-toggle
{
    border-color: white;
}

/*-------------------------------------------- Pie de página de la aplicación -------------------------------------------- */

/* Bloque principal del pie*/
#footer {

  width: 100%;
  padding-left:0;
  padding-right:0;
  padding-bottom:0;
  padding-top:0;
  margin-bottom:0;
  height: auto;
  background-color:#e0e0e0;


}

/* Bloque principal del pie*/
#derechos {

  width: 100%;
  padding-left:0;
  padding-right:0;
  padding-bottom:0;
  padding-top:0;
  margin-bottom:0;
  height: auto;
  background-color: #F37021;

}


/*----------------------------------------------- Estilos para el carrusel --------------------------------------------- */

.carousel-inner > .item > img {
    margin: 0 auto;
}

/*----------------------------------------------- Estilos para la introducción ----------------------------------------- */

i {
    float: right;
    color: black;
    position: right;
    right: 10px;
}  

#wrapper_pantalla {
	width: 100%;
	text-align: center;
}

#wrapper_introduccion {
	width: 95%;
	margin: 0 auto;
	margin: 30px;
	text-align: left;
}

.barra { 
	align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
	width: 100%;
    border-style: groove;
    border-width: 2px;
	border-color: #9D9E7B;
}

#wrapper_introduccion_texto {
	background-color: rgba(238,227,73,1);
	width: 98%;
	margin: 20px auto;
	text-align: center;
	padding: 10px;
	border: 6px groove #9D9E7B;
}

#container_texto_titulo {
	text-align: center;
    padding: 10px;
}

#container_texto_texto{
	text-align: justify;
    margin: 20px;
}

/* Estilos responsive logos del header y footer*/

@media (min-width: 493px) { 
	.row .header-title a img.img_ucr
	{
		float:left;
	}

	.row .header-title a img.img_cicg
	{
		float:right;
	}

}

@media (min-width: 992px) { 
	.row .col-md-6 .centering a img {
		float:right;
	}
	
	.row .col-md-6 .footertext 
	{
		text-align: left;		
	}
}

@media (max-width: 991px) { 
	.row .col-md-6 .centering a img {
		text-align: center;
	}
	
	.row .col-md-6 .footertext 
	{
		text-align: center;		
	}
}
