/*------------------------------------------------- Estilos generales ------------------------------------------------- */

body{
	color: black;
	font-family: 'Roboto', sans-serif;
}

/*-------------------------------------------- Encabezado de la aplicación -------------------------------------------- */
header{
	padding: 0px;
	color: black;
	background-color: white;
	font-weight: bold;
	text-align: center; 
	overflow: auto;
}

.header-title{
	font-size: 5em;
    margin-bottom: 12px !important;
    margin-top: 12px !important;
}

/* Evitar en desplizamiento sobre el header*/
.row {
   margin-right: 0px;
   margin-left: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
}


/*-------------------------------------------- Barra de imagen  -------------------------------------------- */

.barra_encabezado
{
	background-color: transparent; 
	height: 50px;
	background-image: url("../img/barra_imagen.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
}

/*-------------------------------------------- Barra de navegación  -------------------------------------------- */

/* Provoca que la barra sea continua*/
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

/* Fondo de la barra principal y tamaño de la letra*/
.navbar{
	background-color: #005DA4;
	border-radius: 0;
	font-size: 15px;
	font-weight: bold;
	border-style: solid;
    border-color: #3D8CC9 #005DA4 #3D8CC9 #005DA4 ;
}

.navbar-inverse
{
    margin-bottom: 0px;
}

/* Color de la letra de los enlace principales*/
.navbar-inverse .navbar-nav > li > a
{
	color:white;
}

/* Fondo y letra de los enlaces principales cuando el mouse se encuentra encima */
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
	color: white;
	background-color: #3D8CC9;
}

/* Fondo y letra de los enlace que tienen menu desplegable cuando se da click encima */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{
	color: white;
	background-color: #3D8CC9;
}

/* Fondo del menu desplegable*/
.dropdown-menu{
	background-color:#005DA4;

}

/* Fondo y letra de los enlaces dentro del menu desplegable cuando el mouse no se encuentra encima*/
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
	color: white;
	background-color: #005DA4;
}

/* Fondo y letra de los enlaces dentro del menu desplegable cuando el mouse se encuentra encima */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open .dropdown-menu>li>a :focus, .navbar-inverse .navbar-nav > .open .dropdown-menu>li>a:hover{
	color: white;
	background-color: #3D8CC9;
}

/* Fondo y letra para poner los activos*/
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
{
	color: white;
	background-color: #3D8CC9;
}

/* Fondo cuando se mantiene pulsado el icono de navegacion en modo responsive*/
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover
{
	background-color: #3D8CC9;
}

/* Borde del icono de navegacion*/
.navbar-inverse .navbar-toggle
{
    border-color: white;
}

/*-------------------------------------------- Pie de página de la aplicación -------------------------------------------- */

/* Bloque principal del pie*/
#footer {

  width: 100%;
  padding-left:0;
  padding-right:0;
  padding-bottom:8px;
  padding-top:8px;
  margin-bottom:0px;
  height: auto;
  background-color:#f6f6f6;


}

#footer_responsive_1 {

  width: 100%;
  padding-left:0;
  padding-right:0;
  padding-bottom:8px;
  padding-top:8px;
  margin-bottom:0px;
  height: auto;
  background-color:#f6f6f6;

}

#footer_responsive_2 {

  width: 100%;
  padding-left:0;
  padding-right:0;
  padding-bottom:8px;
  padding-top:8px;
  margin-bottom:0px;
  height: auto;
  background-color:#f6f6f6;

}

#footer_responsive_3 {

  width: 100%;
  padding-left:0;
  padding-right:0;
  padding-bottom:8px;
  padding-top:8px;
  margin-bottom:0px;
  height: auto;
  background-color:#f6f6f6;

}


.footertext
{
	font-weight: bold;
}

.barra
{
	text-align: center !important;
}

.responsive_2 
{
    width: 25% !important;
    float: left !important;
}

.responsive_3
{
    width: 49% !important;
    float: left !important;
}

.derechos_text
{
	color:white;
	font-weight: normal;
}

/* Bloque de los derechos del pie*/
#derechos {

  width: 100%;
  padding-left:0;
  padding-right:0;
  padding-bottom:0px;
  padding-top:0px;
  margin-bottom:0px;
  height: auto;
  background-color: #005DA4;
  color: white;
}

/* Bloque de los derechos del pie*/
#derechos .container .row {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 0;

}

.derechos_reservados_left
{
	padding-left: 55px !important;
}

.derechos_reservados_right
{
	padding-right: 55px !important;
}
/*----------------------------------------------- Estilos responsive --------------------------------------------- */

/* Estilos responsive del header */
@media (min-width: 1046px) { 
	.row .header-title a img.img_ucr
	{
		float:left;
	}

	.row .header-title a img.img_app
	{
		float:right;
	}

	.row .header-title a img.img_ucr_responsive
	{
		display: none;
	}

	.row .header-title a img.img_app_responsive
	{
		display: none;
	}
}

/* Estilos responsive del header */
@media (max-width: 1046px) and (min-width: 720px) { 

	.row .header-title a img.img_ucr
	{
		float:left;
		width:55%;
	}

	.row .header-title a img.img_app
	{
		float:right;
		width:43%;
	}

	.row .header-title a img.img_ucr_responsive
	{
		display: none;
	}

	.row .header-title a img.img_app_responsive
	{
		display: none;
	}

}

/* Estilos responsive del header */
@media (max-width: 719px) and (min-width: 571px) { 

	.row .header-title a img.img_ucr{}

	.row .header-title a img.img_app{}

	.row .header-title a img.img_ucr_responsive
	{
		display: none;
	}

	.row .header-title a img.img_app_responsive
	{
		display: none;
	}
}

/* Estilos responsive del header */
@media (max-width: 570px) and (min-width: 481px) { 

	.row .header-title a img.img_ucr
	{
		width: 98%;
	}

	.row .header-title a img.img_app
	{  
		width: 87%;
	}

	.row .header-title a img.img_ucr_responsive
	{
		display: none;
	}

	.row .header-title a img.img_app_responsive
	{
		display: none;
	}
}

/* Estilos responsive del header */
@media (max-width: 480px) and (min-width: 360px) { 

	.row .header-title a img.img_ucr
	{
		display: none;
	}
	.row .header-title a img.img_app
	{
		display: none;
	}

	.row .header-title a img.img_app_responsive { 
		margin-top: 14px; 
		margin-bottom: 11px;
	 }

	.row .header-title a img.img_ucr_responsive {  }
}


/* Estilos responsive del header */
@media (max-width: 360px) { 

	.row .header-title a img.img_ucr
	{
		display: none;
	}
	.row .header-title a img.img_app
	{
		display: none;
	}

	.row .header-title a img.img_app_responsive 
	{ 
		margin-top: 14px; 
		margin-bottom: 11px;
		width: 79%;
	}

	.row .header-title a img.img_ucr_responsive 
	{ 
		width: 82%;
	}
}

/* Estilos responsive de la barra de navegación */
@media  (min-width: 780px) { 

	/* Fondo y letra de los enlaces principales cuando el mouse se encuentra encima */
	.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
		color: white;
		background-color: #3D8CC9;
		height: 48px;
	}

	/* Fondo y letra de los enlace que tienen menu desplegable cuando se da click encima */
	.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{
		color: white;
		background-color: #3D8CC9;
		height: 48px;
	}

	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	    position: absolute;
	    left: 25px;

	}

	/* Fondo y letra para poner los activos*/
	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
	{
		color: white;
		background-color: #3D8CC9;
		height: 48px;
	}

}

/* Estilos responsive del footer */
@media (min-width: 0px){

	.responsive_1 
	{
	    width: 50% !important;
	    float: left !important;
	}
}

/* Estilos responsive del footer */
@media (min-width: 1095px)
{
	#footer
	{
		display: block;
	}

	#footer_responsive_1
	{
		display: none;
	}
}

/* Estilos responsive del footer */
@media (max-width: 1094px) and  (min-width: 676px)
{
	#footer
	{
		display: none;
	}

	#footer_responsive_1
	{
		display: block;
	}
}


/* Estilos responsive del footer */
@media (max-width: 675px) and  (min-width: 0px)
{
	#footer
	{
		display: block;
	}

	#footer_responsive_1
	{
		display: none;
	}
}

/* Estilos responsive del footer */
@media (min-width: 992px) { 

	.row .col-md-6 .centering a img
	{
		float:right;
	}
	
	.row .col-md-6 .footertext 
	{
		text-align: left;		
	}
}

/* Estilos responsive del footer */
@media (max-width: 991px) { 
	
	.derechos_reservados_left
	{
		padding-left: 0px !important;
	}

	.derechos_reservados_right
	{
		padding-right: 0px !important;
	}
	.row .col-md-6 .centering a img 
	{
		text-align: center;
	}
	
	.row .col-md-6 .footertext 
	{
		text-align: center;		
	}
}



