body{
	color: black;
	font-family: 'Roboto', sans-serif;
}

/*Encabezado*/
header{
	padding: 0px;
	color: black;
	background-color: #006666;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	font-weight: bold;
	text-align: center; 
	overflow: auto;
}

.header-title{
	font-size: 3em;
	padding-top: 2%;
	padding-bottom: 2%;
	min-height:15vh;
	max-height:25vh;
}

/* Evitar en desplizamiento sobre el header*/
.row {
   margin-right: 0;/*-15px;*/
   margin-left: 0;/*-15px;*/
}

/*Barra de navegacion*/
/* Provoca que la barra sea continua*/
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

/* Fondo de la barra principal y tamaño de la letra*/
.navbar{
	background-color: #003366;
	border-radius: 0;
	font-size: 15px;
	font-weight: bold;
}
/* Color de la letra de los enlace principales*/
.navbar-inverse .navbar-nav > li > a
{
	color:white;
}

/* Fondo y letra de los enlaces principales cuando el mouse se encuentra encima */
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
	color: white;
	background-color: #18538D;
}

/* Fondo y letra de los enlace que tienen menu desplegable cuando se da click encima */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{
	color: white;
	background-color: #18538D;
}

/* Fondo del menu desplegable*/
.dropdown-menu{
	background-color:#003366;

}

/* Fondo y letra de los enlaces dentro del menu desplegable cuando el mouse no se encuentra encima*/
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
	color: white;
	background-color: #003366;
}

/* Fondo y letra de los enlaces dentro del menu desplegable cuando el mouse se encuentra encima */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open .dropdown-menu>li>a :focus, .navbar-inverse .navbar-nav > .open .dropdown-menu>li>a:hover{
	color: white;
	background-color: #18538D;
}

/* Fondo y letra para poner los activos*/
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
{
	color: white;
	background-color: #18538D;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover
{
	background-color: #18538D;
}

.navbar-inverse .navbar-toggle
{
    border-color: white;
}

/* Pie de la pagina*/
.mdl-mega-footer {
    padding: 80px 40px;
    color: #9e9e9e;
    background-color: black;
}

/* Estilos de logos del footer*/
.mdl-mega-footer__middle-section img{
	width: 100%;
	margin-left: 5%;
}

.mdl-mega-footer__middle-section img:hover {
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}