
/*----------------------------------------------- Botón de ayuda --------------------------------------------- */
.help-tip{
	float:right;
	margin:4px;
	text-align: center;
	background-color: #F7D358;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	font-size: 22px;
	line-height: 48px;
	cursor: default;
	z-index: 1;
}
	
.help-tip:before{
	content:'?';
	font-weight: bold;
	color:#fff;
	z-index: 1;
}

.help-tip:hover p{
	display:block;
	transform-origin: 100% 10%;
	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;
	z-index: 1;
}

.help-tip p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #1E2021;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right:0px;
	color: #FFF;
	font-size: 17px;
	line-height: 1.4;
	z-index: 1;
}

.help-tip p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	right:10px;
	top:-12px;
	z-index: 1;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
	z-index: 1;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}

	/*----------------------------------------------- Estilos para el contenido ----------------------------------------- */

	#wrapper_pantalla {
		width: 100%;
		text-align: center;
	}

	#row_titulo {
		height: 40px;
		margin-bottom: 150px;
	}

	.wrapper p {
		text-align: left;
		color: white;
		font-size: large;
		background-color: rgba(0,0,0,0.5);
		border-radius: 10px;
		padding: 10px;
	}


	.container_titulo {
		width: 100%;
		padding-bottom: 130px;
		padding-left: 0;
	}

	#titulo {
		color: #504E4E;
	    background-color: rgba(255,255,255,0.7);
	    padding-left: 25px;
	    border-radius: 0px 10px 10px 0px;
	    text-align: left;
	    text-shadow: 2px 2px #B3AFAF; /* Le pone sombra más clara a los títulos*/
	    font-size: 25px
	}

	#subtitulo {
		color: #504E4E;
	    background-color: rgba(255,255,255,0.7);
	    border-radius: 10px;
	    text-align: left;
	    text-shadow: 2px 2px #B3AFAF;
	    font-size: 20px
	}

	#col_titulo{
		padding-left: 0;
	}

	.links a, a:visited {
		color: white;
	}

	.links a:hover, a:active{
	    color: #f7d358;
	}

	.wrapper {
		background-repeat: no-repeat;
		-webkit-background-size: 100%;
		-webkit-background-size: cover;
		-moz-background-size: 100%;
		-moz-background-size: cover;
		background-size: 100%;
		background-size: cover;
	}

	#estilo1{
		padding: 100px 250px 100px 0;
	}


	@media (max-width: 991px) { 
	
		.row .col-md-4 
		{
			text-align: left;
		}

		.wrapper {
			background-repeat: no-repeat;
			background-position: center;
			-webkit-background-size: 100%;
			-webkit-background-size: cover;
			-moz-background-size: 100%;
			-moz-background-size: cover;
			background-size: 100%;
			background-size: cover;
		}

		.container_titulo {
			padding-top: 50px;
			padding-bottom: 0px;
		}

		#estilo1{
			padding: 10px 25px 10px 0px;
		}

		#titulo {
		    padding-left: 40px;
		}
	}

	@media (max-width: 1300px) { 
	
		.row .col-md-4 
		{
			text-align: left;
		}

		.wrapper {
			padding: 10px;
			background-repeat: no-repeat;
			background-position: center;
			-webkit-background-size: 100%;
			-webkit-background-size: cover;
			-moz-background-size: 100%;
			-moz-background-size: cover;
			background-size: 100%;
			background-size: cover;
		}
		
	}